* {
        margin: 0;
        padding: 0;
}

.form {
        display: flex;
        gap: 5px;
        flex-direction: column;
        padding: 3px;
        margin-top: 30px;
}

.message-input {
        font-size: large;
        width: 1000px;
        height: 600px;
        resize: none;
        padding: 3px;
}

.name-input {
        width: 1000px;
        font-size: medium;
        padding: 3px;
}

.home-container {
        margin-left: 20%;
        padding: 60px 0;
}

.name-header {
        width: 450px;
}

table {
        width: 70%;
        border-spacing: 0;
        border-collapse: separate; 
}

td, th {
        padding: 13px 10px;
        border-bottom: 1px solid black;
}

tr:nth-child(even) {
        background-color: #f2f2f2;
}

tr {
        color: black;
}

th {
        text-align: left;
        border-bottom: 1px solid black;
}

.table-content:hover {
        background-color: black;
        color: white;
}

.link {
        color: inherit;
        text-decoration: none;
}

.button-submit {
        border: none;
        background-color: black;
        color: white;
        padding: 3px 5px;
        cursor: pointer;
        height: 35px;
        width: 1000px;
}

.delete {
        border: none;
        background-color: white;
        cursor: pointer;
}

.name {
        width: 60%;
}
