* {
        margin: 0;
        padding: 0;
}

.form {
        display: flex;
        gap: 5px;
        flex-direction: column;
        padding: 3px;
        margin-top: 30px;
}

.name-header {
        width: 450px;
}

table {
        width: 80%;
        border-spacing: 0;
        border-collapse: separate; 
}

td, th {
        padding: 13px 10px;
        border-bottom: 1px solid black;
}

tr:nth-child(even) {
        background-color: #f2f2f2;
}

tr {
        color: black;
}

th {
        text-align: left;
        border-bottom: 1px solid black;
}

.table-content:hover {
        background-color: black;
        color: white;
}

.link {
        color: inherit;
        text-decoration: none;
}

.name {
        width: 60%;
}
