.navbar {
        display: flex;
        gap: 15px;
}

* {
        margin: 0;
        padding: 0;
}

.success {
        color: green;
}

.error {
        color: red;
}

blockquote {
    margin-left: 10px;
    border-left: 4px solid #ccc;
    background-color: #f9f9f9;
    font-style: italic;
}

.ql-code-block {
    font-family: monospace;
    background-color: #000000;
    color: white;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}
