* {
        margin: 0;
        padding: 0;
}

.navbar-container {
        top: 0px;
        gap: 20px;
        display: flex;
        padding-left: 20%;
        height: 40px;
        align-items: center;
        background-color: black;
        position: sticky;
}

.navbar-link {
        color: white;
        text-decoration: none;
}
