* {
        margin: 0;
        padding: 0;
}

.navbar-container {
        display: flex;
        justify-content: space-between;
        width: 1000px;
        margin-top: 30px;
        margin-left: 20%;
}

.navbar-link {
        border: none;
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 4px 13px;
        top: 0px;
        position: relative;
        transition: ease-in-out 0.3s;
}

.navbar-link:hover {
        top: -3px;
}
