.topic-subject {
        margin-top: 35px;
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
}

.message {
        border: black;
        border-style: solid;
        border-width: 1px;
        margin-bottom: 20px;
        margin-left: 5px;
        width: fit-content;
        padding: 6px;
}

.title {
        font-weight: bold;
}
