.message {
        border: black;
        border-style: solid;
        border-width: 1px;
        margin-top: 20px;
        margin-left: 5px;
        width: fit-content;
        padding: 6px;
}

.title {
        font-weight: bold;
}

#topic-form {
        margin-top: 40px;
}

#editor {
        height: 150px;
}
