* {
        margin: 0;
        padding: 0;
}

.title {
        font-weight: bold;
        font-size: x-large;
        margin-right: 6px;
}

.message {
        width: 1000px;
        border: 1px solid black;
        margin: 20px 0;
        padding: 20px 10px;
}

.author {
        display: flex;
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
        margin-bottom: 15px;
        justify-content: space-between;
}

.by {
        display: flex;
        gap: 6px;
}

.success {
        color: green;
}
