{{ block "home" . }}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>forumv2</title>
                <script src="https://unpkg.com/htmx.org@2.0.4" 
                        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
                        crossorigin="anonymous">
                </script>
        </head>
        <body>
                {{ template "topics-form" . }}
                <hr>
                {{ template "topics-display" . }}
                <script>
                        document.addEventListener("DOMContentLoaded", (event) => {
                                document.body.addEventListener("htmx:beforeSwap", function(evt) {
                                        if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 500) {
                                                evt.detail.shouldSwap = true;
                                                evt.detail.isError = false;
                                        }
                                });
                        });
                </script>
        </body>
</html>
{{ end }}

{{ block "topics-form" . }}
<form 
        hx-post="/postTopic" 
        hx-on::after-request="this.reset()"
        id="topics-form"
>
        <input type="text" name="name" placeholder="name"/>
        <input type="text" name="description" placeholder="description"/>
        <button type="submit">add</button>
        <br>
        {{ if .Error }}
        <span style="color: red;">{{ .Error }}</span>
        {{ end }}
</form>
{{ end }}

{{ block "topics-display" . }}
<div id="topics-display">
        {{ range .Topics }}
        {{ template "home-topic" . }}
        {{ end }}
</div>
{{ end }}

{{ block "home-topic" . }}
<div>
        Name: {{ .Name }}</span>
        <br/>
        Description: {{ .Description }}</span>
        <br/>
        <a href="topic/{{ .UUID }}">view</a>
        <br/>
        <!-- <button hx-delete="/topic/{{ .UUID }}">Delete</button> -->
        <!-- <br/> -->
        <br/>
</div>
{{ end }}

{{ block "oob-topic" . }}
<div id="topics-display" hx-swap-oob="afterbegin">
        {{ range .Topics }}
        {{ template "home-topic" . }}
        {{ end }}
</div>
{{ end }}
