{{ block "home" . }}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>forumv2</title>
                <script src="https://unpkg.com/htmx.org@2.0.4" 
                        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
                        crossorigin="anonymous">
                </script>
                <link rel="stylesheet" href="/css/home.css">
        </head>
        <body>
                {{ template "navbar" . }}
                {{ template "home-form" . }}

                <div class="home-status">
                        {{ template "home-status" . }}
                </div>

                {{ template "home-table" . }}
                <script>
                        document.addEventListener("DOMContentLoaded", (event) => {
                                document.body.addEventListener("htmx:beforeSwap", function(evt) {
                                        if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 500) {
                                                evt.detail.shouldSwap = true;
                                                evt.detail.isError = false;
                                        }
                                });
                        });
                </script>
        </body>
</html>
{{ end }}

{{ block "home-table" . }}
        <table class="table">
                {{ template "home-table-header" . }}

                <tbody id="topic-display">
                        {{ template "home-table-content" . }}
                </tbody>
        </table>
{{ end }}

{{ block "home-status" . }}
        {{ template "status" .Status }}
{{ end }}

{{ block "home-form" . }}
        <form 
                hx-post="/topic" 
                hx-on::after-request="this.reset()"
                id="topics-form"
                class="mb-4"
                hx-target=".home-status"
        >
                {{ if .User.UUID }}
                        <input type="text" name="name" placeholder="name"/>
                        <input type="text" name="description" placeholder="description"/>
                        <button type="submit">add</button>
                        <br>
                {{ else }}
                        <p>Login to post a topic</p>
                {{ end }}
        </form>
{{ end }}

{{ block "home-table-header" . }}
        <tr class="table-header">
                <th>Name</th>
                <th>Author</th>
                <th>NmbMessage</th>
                <th>LastMessage</th>
                <th>Delete</th>
        </tr>
{{ end }}

{{ block "home-table-content" . }}
        {{ $userUUID := .User.UUID }}

        {{ range .Topics }}
                <tr class="table-content" id="topic{{ .UUID }}">
                        <td><a href="/topic/{{ .UUID }}">{{ .Name }}</a></td>
                        <td><a href="/user/{{ .CreatedByUsername }}">{{ .CreatedByUsername }}</a></td>
                        <td>{{ .NmbMessages }}</td>
                        <td>{{ .LastMessage }}</td>

                        {{ if eq $userUUID .CreatedByUUID }}
                                <td><button 
                                        hx-delete="/topic" 
                                        hx-vals='{"uuid": "{{ .UUID }}", "createdBy": "{{ .CreatedByUUID }}"}'
                                        hx-swap="outerHTML"
                                        hx-target="#topic{{ .UUID }}"
                                > Delete</button></td>
                        {{ end }}
                </tr>
        {{ end }}
{{ end }}

{{ block "oob-topic" . }}
        <tbody id="topic-display" hx-swap-oob="afterbegin">
                {{ template "home-table-content" . }}
        </tbody>
{{ end }}
