{{ block "home" . }}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>forumv2</title>
                <script src="https://unpkg.com/htmx.org@2.0.4" 
                        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
                        crossorigin="anonymous">
                </script>
        </head>
        <body>
                {{ template "navbar" . }}
                {{ template "topics-form" . }}
                {{ template "topics-display" . }}
                <script>
                        document.addEventListener("DOMContentLoaded", (event) => {
                                document.body.addEventListener("htmx:beforeSwap", function(evt) {
                                        if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 500) {
                                                evt.detail.shouldSwap = true;
                                                evt.detail.isError = false;
                                        }
                                });
                        });
                </script>
        </body>
</html>
{{ end }}

{{ block "topics-form" . }}
        <form 
                hx-post="/topic" 
                hx-on::after-request="this.reset()"
                id="topics-form"
                class="mb-4"
        >
                {{ if .User.UUID }}
                        <input type="text" name="name" placeholder="name"/>
                        <input type="text" name="description" placeholder="description"/>
                        <button type="submit">add</button>
                        <br>
                {{ else }}
                        <p>Login to post a topic</p>
                {{ end }}

                {{ if .Error }}
                        {{ .Error }}
                {{ end }}

                {{ if .Success }}
                        {{ .Success }}
                {{ end }}
        </form>
{{ end }}

{{ block "topics-display" . }}
        <div id="topic-display">
                {{ template "home-topic" . }}
        </div>
{{ end }}

{{ block "home-topic" . }}
        {{ $userUUID := .User.UUID }}

        {{ range .Topics }}
                <a href="topic/{{ .UUID }}">
                        <div>
                                </br>
                                Name: {{ .Name }}
                                </br>
                                Description: {{ .Description }}
                                </br>
                                By: {{ .CreatedByUsername }}
                                </br>
                                NmbMessages: {{ .NmbMessages }}
                        </div>
                </a>

                {{ if eq $userUUID .CreatedByUUID }}
                        <button 
                                hx-delete="/topic" 
                                hx-vals='{"uuid": "{{ .UUID }}"}'
                                hx-swap="outerHTML"
                        > Delete</button>
                {{ end }}
        {{ end }}
{{ end }}

{{ block "oob-topic" . }}
        <div id="topic-display" hx-swap-oob="afterbegin">
                {{ template "home-topic" . }}
        </div>
{{ end }}
