{{ block "inputForm" . }}
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

        <script>
                document.addEventListener("DOMContentLoaded", function () {
                        const quill = new Quill('#editor', {
                                modules: {
                                        toolbar: [
                                                [{ header: [1, 2, false] }],
                                                ["bold", "italic", "underline"],
                                                ["blockquote", "code-block"],
                                                ["link"],
                                                ["image"],
                                        ],
                                },
                                placeholder: "Send a message",
                                theme: "snow"
                        });

                        document.body.addEventListener("htmx:configRequest", function (event) {
                                const quillContent = quill.root.innerHTML;

                                event.detail.parameters['message'] = quillContent;
                        });
                });
        </script>

        <div id="editor"></div>
        <input type="hidden" name="message" id="quill-content">

        {{ template "status" .Status }}
{{ end }}
