{{ block "navbar" . }}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>forumv2</title>
                <script src="https://unpkg.com/htmx.org@2.0.4" 
                        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
                        crossorigin="anonymous">
                </script>
        </head>
        <body>
                {{ if .User.UUID }}
                <p>Hi {{ .User.Username }}</p>
                <a hx-swap="outerHTML" hx-post="/logout" href="/">Logout</a>
                <a href="/user/{{ .User.Username }}">profil</a>
                {{ else }}
                <a href="/register">register</a>
                <a href="/login">login</a>
                {{ end }}
                <a href="/">home</a>
        </body>
</html>
{{ end }}
