{{ block "profil" . }}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>forumv2</title>
                <script src="https://unpkg.com/htmx.org@2.0.4" 
                        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
                        crossorigin="anonymous">
                </script>
                <link href="/css/main.css" rel="stylesheet">
        </head>
        <body>
                {{ template "navbar" . }}

                <div class="container">
                        {{ template "userInfo" .UserProfil }}
                </div>
        </body>
</html>
{{ end }}

{{ block "profil-status" . }}
        {{ template "status" .Status }}
{{ end }}

{{ block "userInfo" .UserProfil }}
        <div class="flex">
                <p>Username: {{ .Username }}</p>
                <p>CreationTime: {{ .FormattedCreationTime }}</p>
                <p>NmbMessagesPosted: {{ .NmbMessagesPosted }}</p>
                <p>NmbTopicsCreated: {{ .NmbTopicsCreated }}</p>

                {{ if .LastMessage }}
                        <p>LastMessage: {{ .LastMessage }}</p>
                {{ end }}

                {{ if .LastTopic }}
                        <p>LastTopic: {{ .LastTopic }}</p>
                {{ end }}
        </div>
{{ end }}
