{{ block "register" . }}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>forumv2</title>
                <script src="https://unpkg.com/htmx.org@2.0.4" 
                        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
                        crossorigin="anonymous">
                </script>
                <link rel="stylesheet" href="/css/main.css">
                <script>
                        document.addEventListener("DOMContentLoaded", (event) => {
                                document.body.addEventListener("htmx:beforeSwap", function(evt) {
                                        if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 500) {
                                                evt.detail.shouldSwap = true;
                                                evt.detail.isError = false;
                                        }
                                });
                        });
                </script>
        </head>
        <body>
                <a href="/">home</a>
                {{ template "register-form" . }}
                {{ template "goto-login" . }}
        </body>
</html>
{{ end }}

{{ block "register-form" . }}
        <form
                hx-post="/register"
                hx-swap="outerHTML"
        >
                <input type="text" placeholder="account name" name="username"/>
                <input type="email" placeholder="email" name="email"/>
                <input type="password" placeholder="password" name="password"/>
                <input type="password" placeholder="repeat password" name="password-confirm"/>
                <button type="submit">create account</button>
                {{ template "status" . }}
        </form>
{{ end }}

{{ block "goto-login" . }}
        <p>Alreayd have an account ?<a href="/login">login</a></p>
{{ end }}
