{{ block "topic" . }}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>forumv2</title>
                <script src="https://unpkg.com/htmx.org@2.0.4" 
                        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
                        crossorigin="anonymous">
                </script>
                <link rel="stylesheet" href="/css/topic.css">
                <link rel="stylesheet" href="/css/main.css">
        </head>
        <body>
                {{ template "navbar" . }}
                {{ template "topic-form" . }}
                <div class="topic-status">
                        {{ template "topic-status" . }}
                </div>
                {{ template "topic-subject" . }}
                {{ template "topic-message" . }}
                <script>
                        document.addEventListener("DOMContentLoaded", (event) => {
                                document.body.addEventListener("htmx:beforeSwap", function(evt) {
                                        if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 500) {
                                                evt.detail.shouldSwap = true;
                                                evt.detail.isError = false;
                                        }
                                });
                        });
                </script>
        </body>
</html>
{{ end }}

{{ block "topic-status" . }}
        {{ template "status" .Status }}
{{ end }}

{{ block "topic-form" . }}
        <form 
                hx-post="/message"
                hx-vals='{"uuid": "{{ .Subject.UUID }}"}'
                id="topic-form"
                hx-on::after-request="this.reset()"
                hx-target=".topic-status"
        >
                {{ if .User.UUID }}
                        <input type="text" name="message" placeholder="message"/>
                        <button type="submit">add</button>
                {{ else }}
                        <p>Login to post a message</p>
                {{ end }}

                </br>
        </form>
{{ end }}

{{ block "topic-subject" . }}
        <div class="topic-subject">
                <p class="title">{{ .Subject.Name }}</p>
                <p>{{ .Subject.Description }}</p>
        </div>
{{ end }}

{{ block "topic-message" . }}
        <div id="message-display">
                {{ template "message-display" . }}
        </div>
{{ end }}

{{ block "message-display" . }}
        {{ $userUUID := .User.UUID }}

        {{ range .Messages }}
                <div id="message{{ .UUID }}" class="message">
                        <a href="/user/{{ .CreatedByUsername }}">{{ .CreatedByUsername }}</a> - {{ .FormattedCreationTime }}
                        {{ .Content }}
                        {{ if eq $userUUID .CreatedByUUID }}
                                <button
                                        hx-delete="/message"
                                        hx-vals='{"uuid": "{{ .UUID }}", "createdBy": "{{ .CreatedByUUID }}"}'
                                        hx-swap="outerHTML"
                                        hx-target="#message{{ .UUID }}"
                                > Delete </button>
                        {{ end }}
                        <br/>
                </div>
        {{ end }}
{{ end }}

{{ block "oob-message" . }}
        <div id="message-display" hx-swap-oob="afterbegin">
                {{ template "message-display" . }}
        </div>
{{ end }}
