{{ block "topic" . }}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>forumv2</title>
                <script src="https://unpkg.com/htmx.org@2.0.4" 
                        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
                        crossorigin="anonymous">
                </script>
        </head>
        <body>
                {{ template "navbar" . }}
                {{ template "topic-form" . }}
                {{ template "topic-subject" . }}
                {{ template "topic-message" . }}
                <script>
                        document.addEventListener("DOMContentLoaded", (event) => {
                                document.body.addEventListener("htmx:beforeSwap", function(evt) {
                                        if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 500) {
                                                evt.detail.shouldSwap = true;
                                                evt.detail.isError = false;
                                        }
                                });
                        });
                </script>
        </body>
</html>
{{ end }}

{{ block "topic-form" . }}
        <form 
                hx-post="/message"
                hx-vals='{"uuid": "{{ .Subject.UUID }}"}'
                id="topic-form"
                hx-on::after-request="this.reset()"
        >
                {{ if .User.UUID }}
                        <input type="text" name="message" placeholder="message"/>
                        <button type="submit">add</button>
                {{ else }}
                        <p>Login to post a message</p>
                {{ end }}

                {{ if .Status.Error }}
                        {{ .Status.Error }}
                {{ end }}

                {{ if .Status.Success }}
                        {{ .Status.Success }}
                {{ end }}
        </form>
{{ end }}

{{ block "topic-subject" . }}
        <div>
                <br/>
                Name: {{ .Subject.Name }}
                <br/>
                Description: {{ .Subject.Description }}
        </div>
{{ end }}

{{ block "topic-message" . }}
        <div id="message-display">
                {{ template "message-display" . }}
        </div>
{{ end }}

{{ block "message-display" . }}
        {{ $userUUID := .User.UUID }}
        {{ range .Messages }}
                {{ .Content }} - {{ .CreatedByUsername }}
                {{ if eq $userUUID .CreatedByUUID }}
                        <button
                                hx-delete="/message"
                                hx-vals='{"uuid": "{{ .UUID }}"}'
                                hx-swap="outerHTML"
                        > Delete </button>
                {{ end }}
                <br/>
        {{ end }}
{{ end }}

{{ block "oob-message" . }}
        <div id="message-display" hx-swap-oob="afterbegin">
                {{ template "message-display" . }}
        </div>
{{ end }}
