{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>forumv2</title>
                <script src="https://unpkg.com/htmx.org@2.0.4" 
                        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
                        crossorigin="anonymous">
                </script>
        </head>
        <body>
                {{ template "form" . }}
                <hr>
                {{ template "topics" . }}
        </body>
</html>
{{ end }}

{{ block "form" . }}
<form hx-post="/postTopic" hx-target="#topics" hx-swap="beforeend">
        name: <input type="text" name="name"/>
        description: <input type="text" name="description"/>
        <button type="submit">add topic</button>
</form>
{{ end }}

{{ block "topics" . }}
<div id="topics">
        {{ range .Topics }}
        {{ template "topic" . }}
        {{ end }}
</div>
{{ end }}

{{ block "topic" . }}
<div>
        <a href="{{ .UUID }}">view</a>
        Name: <span>{{ .Name }}</span>
        Description: <span>{{ .Description }}</span>
</div>
{{ end }}

{{ block "oob-topic" . }}
<div id="topics" hx-swap-oob="afterbegin">
        {{ template "topic" . }}
</div>
{{ end }}
