{{ block "unauthorized" . }}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>forumv2</title>
                <script src="https://unpkg.com/htmx.org@2.0.4" 
                        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
                        crossorigin="anonymous">
                </script>
                <link href="/css/main.css" rel="stylesheet">
        </head>
        <body>
                {{ template "navbar" . }}

                <div class="container">
                        <p>You must be logged in to perform this action</p>
                </div>
        </body>
</html>
{{ end }}
